
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Disability Living Allowance (DLA) for children
      </h1>
      <p>
        Please find <b>Disability Living Allowance (DLA) for children</b> prototype versions currently under test and refinement.
      </p>

      <p> For any questions, please contact <a href="mailto:david.doherty@engineering.digital.dwp.gov.uk">David Doherty</a>.
      </p>

      <div class="govuk-!-padding-bottom-1"></div>

      <!DOCTYPE html>
      <style>
                              .flamingo {max-width: 15%}
                              .flamingo {max-height: auto}
        </style>
      <center>
        <img src="/public/images/flamingo.png" class="flamingo" alt="team flamingo logo">
      </center>
      </html>

      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Prototypes for Developers
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>tbc</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Prototypes for Design Team
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>tbc</p>
          </div>
        </div>




    </div>
  </div>


{% endblock %}
